.wrap{
    height: auto;
}

.section__community .write {
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: var(--point-color);
    border-radius: 10rem;
    position: absolute;
    top: 3%;
    right: 5%;
}

.section__community .write:hover {
    opacity: 50%;
    transition: background-color 150ms ease-in;
}

.section__community .write i {
    color: var(--white-color);
    font-size: 2.3rem !important;
    margin: 1.2rem;
}

.section__community .empty {
    margin-top: 10rem;
    align-items: center;
}