<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link th:href="@{/style/common.css}" rel="stylesheet" />
    <link th:href="@{/style/community/write.css}" rel="stylesheet" />

    <script type="text/javascript"
    src="https://code.jquery.com/jquery-3.5.1.min.js">
</script>
</head>

<script>
    $(document).ready(function() {
        var formObj = $("#community")

        $("#btnRegister").on("click", function() {
            formObj.attr("action", "list")
            formObj.attr("method", "post")
            formObj.submit()
        })

    })
</script>
<body>
    <div class="body__container">
        <div class="inner">

            <h2>글쓰기</h2>

            <section class="section__writeNew wrap">
                <form id="community" action="list.html" th:action="@{list}" th:object="${community}" method="post">
                    <!-- <p name="writer" th:field="*{writer}">아이디 나오게 하기</p> -->
                    <input type="text" name="writer" th:field="*{writer}">
                    <div class="txt">
                        <textarea name="contents" th:field="*{contents}" placeholder="나누고 싶은 이야기를 작성해주세요."></textarea>
                    </div>
                </form>

                <button id="btnRegister" class="basicBtn" type="submit">등록</button>
            </section>

        </div>
    </div>
</body>
</html>